@charset "utf-8";

/**********************************************************
 * 파일명	:default.css (ver 1.2)
 * 설명		:default
 * 작성자	:Joo Hee Kim (pigjh1)
 * 작성일	:2013.03.12
 ***********************************************************/

/*
* Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess
*/

@font-face {
	font-family: 'Nanum Gothic';
	font-style: normal;
	font-weight: 400;
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v2/NanumGothic-Regular.eot);
	src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v2/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
	url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v2/NanumGothic-Regular.woff2) format('x-woff2'),
	url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v2/NanumGothic-Regular.woff) format('woff'),
	url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v2/NanumGothic-Regular.ttf) format('truetype');
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
table {border-collapse: collapse; border-spacing: 0;}

/* Type Selector */
body {
	font-family:'Nanum Gothic', NanumGothic,'돋움',Dotum, DotumChe, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #666;
}

/* Basic Link Style */
a {text-decoration:none; cursor:pointer;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a.underline {text-decoration:underline;}

/* Layout & Align */
.f_l {float:left;}
.f_r {float:right;}
.t_c {text-align:center;}
.btn {display:block; width:100%; padding-top:5px;}
.btn_l {display:block; float:left; width:45%; padding-top:5px;}
.btn_r {display:block; float:right; width:45%; padding-top:5px; text-align:right;}
.clear {clear:both;}

/* Font */
.f_10 {font-size:10px;}
.f_11 {font-size:11px;}
.f_12 {font-size:12px;}
.f_13 {font-size:13px;}
.f_black {color:#000;}
.f_gray {color:#333;}
.f_red {color:#ed1c24;}
.f_blue {color:#0054a6;}

/* basic block */
.m0{margin:0 !important}
.mt0{margin-top:0 !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt20{margin-top:20px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.ml0{margin-left:0 !important}
.mr0{margin-right:0 !important}
.mb0{margin-bottom:0 !important}
.mb10{margin-bottom:10px !important}
.mb20{margin-bottom:20px !important}
.mb30{margin-bottom:30px !important}
.mb40{margin-bottom:40px !important}
.p0{padding:0 !important}
.pt10{padding-top:10px !important}
.pt50{padding-top:50px !important}
.pt20{padding-top:20px !important}
.pt30{padding-top:30px !important}
.pr5{padding-right:5px !important}
.pr10{padding-right:10px !important}
.pr20{padding-right:20px !important}
.pr30{padding-right:30px !important}
.pb20{padding-bottom:20px !important}
.pb50{padding-bottom:50px !important}
.pl5{padding-left:5px !important}
.pl10{padding-left:10px !important}
.pl20{padding-left:20px !important}
.pl30{padding-left:30px !important}

/* basic others */
.show{display:block}
.hide{display:none}
.ir *,
.blind{position:absolute;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden}
.btn{width:100%;margin-top:10px;clear:both}
.btn img{vertical-align:middle}
.btn_r{float:right;width:45%;margin-top:10px;text-align:right}
.btn_l{float:left;width:45%;margin-top:10px}

.forDesktop{display:block}
.forMoblie{display:none}

.helfWrap{float:left;width:100%}
.helf{float:left;width:45%;margin-right:3%}