@charset "utf-8";

/**********************************************************
 * 파일명	:layout.css
 * 설명		:Site Layout
 * 작성자	:Joo Hee Kim (pigjh1)
 * 작성일	:2011.06.25
***********************************************************/

/* Site Layout */
body { background:#f0f0f0; }
#wrap { width:980px; margin:0 auto; }
#header { width:100%; }
#content { display:block; float:left; width:900px; padding:30px 40px 60px 40px; border:5px solid #ececec; background:#fff; }
#footer { float:left; width:100%; margin:30px 0; text-align:center; }

/* Header */
#header h1 { float:left; margin:30px 0 0 50px; height:80px; }

#header .gnb { float:right; width:600px; height:20px; font-size:9px; color:#767676; }
#header .gnb a { font-size:9px; color:#767676; }
#header .gnb ul { height:15px; }
#header .gnb li { float:right; margin-left:10px; }
#header .gnb img { vertical-align:middle; }

#header .lnb { float:right; width:600px; font-size:15px; padding-top:20px; }
#header .lnb a { font-size:15px; color:#828282; font-weight:bold; }

#header .lnb ul { position:relative; height:25px; }
#header .lnb li { float:left; padding:0 20px 0 20px; background:url("../images/common/top_bar.png") 0 50% no-repeat; background-position:right 10%; }
#header .lnb li.last { background:none}

#header .lnb.m1 .m1,
#header .lnb.m2 .m2,
#header .lnb.m3 .m3,
#header .lnb.m4 .m4,
#header .lnb.m5 .m5 { margin-top:-1px; }

#header .lnb.m1 .m1 ul,
#header .lnb.m2 .m2 ul,
#header .lnb.m3 .m3 ul,
#header .lnb.m4 .m4 ul,
#header .lnb.m5 .m5 ul { display:block}

#header .lnb li ul { display:none; overflow:hidden; position:absolute; top:25px; background:url("../images/common/lnb_bg.png") no-repeat; }
#header .lnb ul.n1 { left:20px; background-position:0px 0px; }
#header .lnb ul.n2 { left:130px; background-position:0px -25px; }
#header .lnb ul.n3 { left:220px; background-position:0px -50px; }
#header .lnb ul.n4 { left:300px; background-position:0px -75px; }
#header .lnb ul.n5 { left:380px; background-position:0px -100px; }

#header .lnb li li { overflow:visible; position:relative; padding:5px 10px 1px 10px; background:none; }
#header .lnb li li a { padding:0; margin:0; font-weight:normal; color:#fff; font-size:11px; }
#header .lnb li li a:hover,
#header .lnb li li a:active,
#header .lnb li li a:focus,
#header .lnb.s1 .s1 a,
#header .lnb.s2 .s2 a,
#header .lnb.s3 .s3 a,
#header .lnb.s4 .s4 a,
#header .lnb.s5 .s5 a { font-weight:bold; }
#header .lnb li li.last1 { background:url("../images/common/lnb_bg.png"); background-position:right 0px; }
#header .lnb li li.last2 { background:url("../images/common/lnb_bg.png"); background-position:right -25px; }
#header .lnb li li.last3 { background:url("../images/common/lnb_bg.png"); background-position:right -50px; }
#header .lnb li li.last4 { background:url("../images/common/lnb_bg.png"); background-position:right -75px; }
#header .lnb li li.last5 { background:url("../images/common/lnb_bg.png"); background-position:right -100px; }

#header .lnb.js_off { padding:0}
#header .lnb.js_off ul { border:0}
#header .lnb.js_off li { float:none}
#header .lnb.js_off li a { float:none; font-weight:bold}
#header .lnb.js_off li ul { display:block; position:static; left:0; top:0; padding:5px 0; background:#fff}
#header .lnb.js_off li li { display:inline}
#header .lnb.js_off li li a { font-weight:normal !important; color:#333; letter-spacing:normal}
#header .lnb.js_off li li a:hover,
#header .lnb.js_off li li a:active,
#header .lnb.js_off li li a:focus { text-decoration:underline}

/* heading */
#content h2 { height:50px; padding:20px 0 0 80px; font-size:20px; color:#fff; }
#content h2.bg2 { background:url("../images/sub/sub_cont_bg02.png"); background-repeat:no-repeat; }
#content h2.bg3 { background:url("../images/sub/sub_cont_bg03.png"); background-repeat:no-repeat; }
#content h2.bg4 { background:url("../images/sub/sub_cont_bg04.png"); background-repeat:no-repeat; }
#content h2.bg5 { background:url("../images/sub/sub_cont_bg05.png"); background-repeat:no-repeat; }
#content h2.bg6 { background:url("../images/sub/sub_cont_bg06.png"); background-repeat:no-repeat; }
#content h3 { height:20px; font-size:14px; color:#333; padding:3px 0 0 5px; }

/* main */
.main dl { float:left; width:227px; height:104px; margin:30px 35px; background:url("../images/main/main_cont_bg01.png"); background-repeat:no-repeat; }
.main dl.bg2 { background:url("../images/main/main_cont_bg02.png"); }
.main dl.bg3 { background:url("../images/main/main_cont_bg03.png"); }
.main dl.bg4 { background:url("../images/main/main_cont_bg04.png"); }
.main dl.bg5 { background:url("../images/main/main_cont_bg05.png"); }
.main dl.bg6 { background:url("../images/main/main_cont_bg06.png"); }
.main dt { height:40px; }
.main dd { width:217px; font-size:12px; color:#fff; padding:20px 0 0 10px; }
.main dd a { font-size:12px; color:#fff; }
.main dt.photo { float:left; width:120px; height:120px; padding:0px; }
.main dd.txt { float:left; padding:80px 0 0 0; width:100px; font-size:20px; color:#fff; }

/* location */
.location { display:inline; float:right; overflow:hidden; margin-top:-30px; }
.location li { float:left; font-size:11px; color:#666; padding-left:3px; }
.location li a { color:#666; }
.location li span { font-weight:bold; }

/* Who */
.list_type { display:block; position:relative; width:100%; overflow:hidden; padding:9px 0 24px; border-bottom:1px solid #ddd; }
.list_type a { font-size:12px; color:#08787e; }
.list_type p { padding-left:20px; font-size:12px; color:#777; }
.list_type dt { float:left; overflow:hidden; width:120px; padding-left:20px; font-size:12px; color:#777; line-height:23px; }
.list_type dd { float:left; overflow:hidden; width:700px; font-size:12px; color:#333; line-height:23px; }
.list_type dd img { border:2px solid #ddd; }

/* Qna */
.qna { border-bottom:1px solid #ddd; font-size:12px}
.qna .hgroup { position:relative; margin:0 0 10px 0; *zoom:1}
.qna .hgroup .trigger { overflow:visible; position:absolute; top:50%; right:0; margin:-7px 0 0 0; padding:0; border:0; background:none; font-size:12px; cursor:pointer}
.qna ul { margin:0; padding:0; list-style:none}
.qna .q { margin:0; border-top:1px solid #ddd}
.qna .q a.trigger { display:block; padding:10px 15px; background:#fafafa; font-weight:bold; color:#777; text-align:left; text-decoration:none !important}
.qna .hide .q a.trigger { font-weight:normal; background:none}
.qna .q a.trigger:hover,
.qna .q a.trigger:active,
.qna .q a.trigger:focus { background:#f8f8f8; color:#777}
.qna .a { margin:0; padding:10px 15px; line-height:1.5}

/* Portfolio_temp */
.list_web { position:relative; float:left; width:33%; overflow:hidden; }
.list_web_img { float:left; width: 450px; }
.list_web_img img { width:100px; }
.list_web_info { float:left; width: 400px; }
.list_web_info dl { float:left; width: 100%; ; }
.list_web_info dt { display:block; float:left; width:50px; font-size:11px;}
.list_web_info dd { display:block; float:left; width:330px; font-size:11px;}

/* Camera */
.camera { display:block; }
.camera img {width:100px; }
.camera p { padding-top:10px; }
.camera button { margin-bottom:5px; }

/* Postcard */
.postcard ol {padding-left:30px; width:90%; }
.postcard li { list-style:decimal; }
.postcard li li { list-style:disc; }

/* Isaka kotaro */
.list_book { position:relative; width:100%; overflow:hidden; padding:9px 0 24px; border-bottom:1px solid #ddd; }
.list_book_img { float:left; width: 450px; }
.list_book_img img { width:100px; }
.list_book_info { float:left; width: 400px; }
.list_book_info dl { float:left; width: 100%; ; }
.list_book_info dt { display:block; float:left; width:50px; }
.list_book_info dd { display:block; float:left; width:330px; }

/* button */
.button,
.button span,
.button button { position:relative; display:inline-block; height:20px; font-size:12px; line-height:20px; color:#525252; cursor:pointer; background-image:url("../images/btn/button.png"); background-repeat:no-repeat; text-decoration:none!important; overflow:visible; border:0; padding:0; background-color:transparent; }
.button { background-position:leftbottom; margin-right:2px; }
.button span,
.button button { left:4px; background-position:rightbottom; padding: 0 8px 0 6px; }

a.button.orange,
a.button.orange span,
span.button.orange,
span.button.orange button,
span.button.orange input { background:url("../images/btn/button_orange.png"); color:#fff; }

a.button.blue,
a.button.blue span,
span.button.blue,
span.button.blue button,
span.button.blue input { background:url("../images/btn/button_blue.png"); color:#fff; }

a.button.green,
a.button.green span,
span.button.green,
span.button.green button,
span.button.green input { background:url("../images/btn/button_green.png"); color:#fff; }
