// --------------------------------------------------
// buttons
// --------------------------------------------------

.btn {
	display: inline-block;
	position: relative;
	color: $dark;
	padding: .5em 2em;
	vertical-align: middle;
	text-align: center;
	border: 1px solid rgba($dark, 0.5);
	@include box-sizing;
	@include radius(100px);

	// 비활성화
	&[disabled],
	&--disabled {
		color: $silver-dark;
		border: 1px solid rgba($dark, 0.3);
		background-color: transparent;
	}

	// 강조
	&--em {
		color: $white;
		border-color: transparent;
		background-color: rgba($brand, 0.8);

		&.btn--disabled,
		&[disabled] {
			color: $gray-light;
			border: 1px solid transparent;
			background-color: rgba($silver-dark, 0.7);
		}
	}
}
