// --------------------------------------------------
// forms
// --------------------------------------------------

[type="text"],
[type="number"],
[type="tel"],
[type="file"],
[type="password"],
[type="email"],
[type="search"],
[type="url"],
textarea {
	@include box-sizing;
	padding: .5em 1em;
	color: $black;
	line-height: 1.5;
	border: 1px solid $silver;
	background: $white;
	outline: 0;
	vertical-align: middle;

	-webkit-appearance: none;
	-webkit-border-radius: 0;
}

input[type="number"] {
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	-webkit-appearance: none;
	-moz-appearance: textfield;
}

input:invalid,
textarea:invalid {
	background-color: #f0dddd;
}

input:required,
textarea:required {
	background-color: $white;
}
