// --------------------------------------------------
// column ( 12 grid )
// --------------------------------------------------

.l-wrap {
  max-width: $w-default;
  margin: 0 auto;
  padding: 0 $gutter-small / 2;

  @include mq(medium) {
		padding: 0 $gutter-large / 2;
  }
}

.row {
	@include clearfix;
	margin-left: -$gutter-small / 2;
	margin-right: -$gutter-small / 2;

	@include mq(medium) {
		margin-left: -$gutter-large / 2;
		margin-right: -$gutter-large / 2;
	}
}

@mixin make-grid($name: '') {
	@if $name != '' {
		$name: -#{$name};
	}

	@for $i from 1 through ($grid-columns - 1) {
		$width: 100% / $grid-columns * $i;

		.col#{$name}-#{$i}
		{
			float: left;
			width: $width;
		}
		.col#{$name}-offset-#{$i} {
			margin-left: $width;
		}
		.col#{$name}-pull-#{$i} {
			right: $width;
		}
		.col#{$name}-push-#{$i} {
			left: $width;
		}
	}

	.col#{$name}-12 {
		float: none;
		width: auto;
	}
	.col#{$name}-offset-0 {
		margin-left: 0;
	}
	.col#{$name}-pull-0 {
		right: auto;
	}
	.col#{$name}-push-0 {
		left: auto;
	}
}

%col {
	position: relative;
	min-height: 1px;
	@include box-sizing;
	padding-left: $gutter-small / 2;
	padding-right: $gutter-small / 2;
}

@for $i from 1 through $grid-columns {
	.col-s-#{$i},
	.col-#{$i},
	.col-l-#{$i} {
		@extend %col;
	}
}

@include make-grid(s);

@include mq(medium) {
	@for $i from 1 through $grid-columns {
		.col-s-#{$i},
		.col-#{$i},
		.col-l-#{$i} {
			padding-left: $gutter-large / 2;
			padding-right: $gutter-large / 2;
		}
	}

	@include make-grid();
}
@include mq(large) {
	@include make-grid(l);
}
